In [12]:
import pandas as pd
import numpy as np

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
series1= pd.Series([1,2,3,4,5])
print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [5]:
series1= pd.Series([1,2,3,4,5])
lst=[]
lst=pd.Series.to_list(series1)
print(lst)
type(lst)

[1, 2, 3, 4, 5]

list

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [8]:
series1=pd.Series([2, 4, 6, 8, 10])
series2=pd.Series([1, 3, 5, 7, 9])
print("Series 1:\n",series1)
print("Series 2:\n",series2)
add=series1+series2
sub=series1-series2
mul=series1*series2
div=series1/series2
print("Addition:\n",add)
print("Substraction:\n",sub)
print("Multiplication:\n",mul)
print("Division:\n",div)

Series 1:
 0     2
1     4
2     6
3     8
4    10
dtype: int64
Series 2:
 0    1
1    3
2    5
3    7
4    9
dtype: int64
Addition:
 0     3
1     7
2    11
3    15
4    19
dtype: int64
Substraction:
 0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication:
 0     2
1    12
2    30
3    56
4    90
dtype: int64
Division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [10]:
series1=pd.Series([2, 4, 6, 8, 10])
series2=pd.Series([1, 3, 5, 7, 9])
lessthan=series1<series2
greterthan=series1>series2
equalto=series1==series2
print("Less than:\n",lessthan)
print("Greater than:\n",greterthan)
print("Equal to:\n",equalto)
print(series1.compare(series2))

Less than:
 0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than:
 0    True
1    True
2    True
3    True
4    True
dtype: bool
Equal to:
 0    False
1    False
2    False
3    False
4    False
dtype: bool
   self  other
0     2      1
1     4      3
2     6      5
3     8      7
4    10      9

5. Write a Pandas program to convert a dictionary to a Pandas series. Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [11]:
dict1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series1=pd.Series(dict1)
print(series1)

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

Sample Series:

NumPy array:

[10 20 30 40 50]

In [18]:
nparr=np.array([10, 20, 30, 40, 50])
print(nparr)
print(type(nparr))
series1=pd.Series(nparr)
print(series1)
print(type(series1))

[10 20 30 40 50]
<class 'numpy.ndarray'>
0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

7. Write a Pandas program to change the data type of given a column or a Series.

In [31]:
series1=pd.Series(['100', '200', "python", '300.12', '400'])
series2 = pd.to_numeric(series1, errors='coerce')
print(series1)
print(series2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [38]:
df=pd.DataFrame({'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]})
print(df)
print(type(df))
series1=pd.Series(df['col1'])
print(series1)
print(type(series1))

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
<class 'pandas.core.frame.DataFrame'>
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array.

In [44]:
series1=pd.Series(['100', '200', "python", '300.12', '400'])
nparray=np.array(series1)
print(series1)
print(type(series1))
print(nparray)
print(type(nparray))

0       100
1       200
2    python
3    300.12
4       400
dtype: object
<class 'pandas.core.series.Series'>
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

10. Write a Pandas program to convert Series of lists to one Series.

In [57]:
series1=pd.Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
print(series1)
series2 = series1.apply(pd.Series).stack().reset_index(drop=True)
print(series2)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

In [58]:
series1=pd.Series(['100', '200', "python", '300.12', '400'])
series2=series1.sort_values(ascending=True)
print(series1)
print(series2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [65]:
series1=pd.Series(['100', '200', "python", '300.12', '400'])
print(series1)
series2 = pd.concat([series1, pd.Series([500, "php"])], ignore_index=True)
print(series2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [73]:
series1=pd.Series([1,2,3,4,5,6,7,8,9,10])
series2= series1[series1<6]
print(series1)
print(series2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [75]:
series1 = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print(series1)
series1 = series1.reindex(index = ['B','A','C','D','E'])
print(series1)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [76]:
series1= pd.Series([1,2,3,4,5,6,7,8,9,10])

print(series1.mean())
print(series1.std())

5.5
3.0276503540974917

16 Write a Pandas program to get the items of a given series not present in another given series.

In [79]:
series1= pd.Series([1,2,3,4,5,6,7,8,9,10])
series2= pd.Series([11,2,3,41,5,16,7,18,9,110])

print(series1[~series1.isin(series2)])

0     1
3     4
5     6
7     8
9    10
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [81]:
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([2, 4, 6, 8, 10])

sr11 = pd.Series(np.union1d(series1, series2))
sr22 = pd.Series(np.intersect1d(series1, series2))
print(sr11[~sr11.isin(sr22)])

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [85]:
series1= pd.Series([1,2,3,4,5,6,7,8,9,10])

print("Min: ", series1.min())
print("Max: ", series1.max())
print("Mean: ", series1.median())
print("25 percentile: ",np.percentile(series1, q=25))
print("75 percentile: ",np.percentile(series1, q=75))
print("percentile: ",np.percentile(series1, q=[0,25,50,75,100]))

Min:  1
Max:  10
Mean:  5.5
25 percentile:  3.25
75 percentile:  7.75
percentile:  [ 1.    3.25  5.5   7.75 10.  ]

19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [91]:
num_state = np.random.randint(5, size=(10))
series1=pd.Series(num_state)
print(series1)

print(series1.value_counts())

0    4
1    2
2    4
3    2
4    3
5    3
6    4
7    3
8    0
9    2
dtype: int64
4    3
2    3
3    3
0    1
dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [114]:
num_state = np.random.randint(10, size=(15))
series1=pd.Series(num_state)
print(series1)

max_series=series1.value_counts()

series1[~series1.isin(max_series.index[:1])] ='others'
print(series1)

0     5
1     1
2     2
3     0
4     2
5     6
6     2
7     5
8     3
9     8
10    7
11    5
12    2
13    4
14    3
dtype: int64
0     others
1     others
2          2
3     others
4          2
5     others
6          2
7     others
8     others
9     others
10    others
11    others
12         2
13    others
14    others
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

Sample Output:
Original Series:
0 1
1 9
2 8
3 6
4 9
5 7
6 1
7 1
8 1
dtype: int64

Positions of numbers that are multiples of 5:[]

In [125]:
num_state = np.random.randint(10, size=(15))
series1=pd.Series(num_state)
print(series1)

series2= series1.loc[((series1%5==0) & (series1!=0))]
print(series2)

0     0
1     5
2     5
3     7
4     5
     ..
95    3
96    2
97    8
98    6
99    8
Length: 100, dtype: int64
1     5
2     5
4     5
6     5
18    5
20    5
37    5
39    5
45    5
53    5
63    5
90    5
94    5
dtype: int64

Write a Pandas program to extract items at given positions of a given series.

In [133]:
num_state = np.random.randint(10, size=(15))
series1=pd.Series(num_state)
print(series1)
idx=5

series2=pd.Series([2,4,6,8,11,14])

print("At ",series2,"\n",series1.iloc[series2])

0     6
1     5
2     2
3     5
4     3
5     3
6     2
7     8
8     6
9     3
10    5
11    3
12    4
13    6
14    6
dtype: int64
At  0     2
1     4
2     6
3     8
4    11
5    14
dtype: int64
 2     2
4     3
6     2
8     6
11    3
14    6
dtype: int64

23. Write a Pandas program to get the positions of items of a given series in another given series.

In [263]:
num_state = np.random.randint(10, size=(15))
series1=pd.Series([1,2,3,5,456,6,54,8,111,11,1,4,10,5,10])
print(series1)
idx=5

series2=pd.Series([2,4,6,8,11])
series3=[pd.Index(series1).get_loc(i) for i in series2]
print("At \n",series3)

0       1
1       2
2       3
3       5
4     456
5       6
6      54
7       8
8     111
9      11
10      1
11      4
12     10
13      5
14     10
dtype: int64
At
 [1, 11, 5, 7, 9]

24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [162]:
series1=pd.Series(['python','java', 'cpp','javascript'])

series1=result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("At \n",series1)

At
 0        PythoN
1          JavA
2           CpP
3    JavascripT
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [163]:
series1=pd.Series(['python','java', 'cpp','javascript'])

series1=result = series1.map(lambda x: len(x))
print("At \n",series1)

At
 0     6
1     4
2     3
3    10
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [166]:
series1=pd.Series([1,2,3,5,456,6,54,8,111,11,1,4,10,5,10])
print(series1)

print(series1.diff().tolist())
print(series1.diff().diff().tolist())

0       1
1       2
2       3
3       5
4     456
5       6
6      54
7       8
8     111
9      11
10      1
11      4
12     10
13      5
14     10
dtype: int64
[nan, 1.0, 1.0, 2.0, 451.0, -450.0, 48.0, -46.0, 103.0, -100.0, -10.0, 3.0, 6.0, -5.0, 5.0]
[nan, nan, 0.0, 1.0, 449.0, -901.0, 498.0, -94.0, 149.0, -203.0, 90.0, 13.0, 3.0, -11.0, 10.0]

27. Write a Pandas program to convert a series of date strings to a timeseries.

In [168]:
series1=pd.Series(['01 Jan 2015', '10-02-2016', '20180307','2014/05/06','2016-04-12','2019-04-06'])

print(pd.to_datetime(series1))

0   2015-01-01
1   2016-10-02
2   2018-03-07
3   2014-05-06
4   2016-04-12
5   2019-04-06
dtype: datetime64[ns]

28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [190]:

series1=pd.Series(['01 Jan 2015', '10-02-2016', '20180307','2014/05/06','2016-04-12','2019-04-06'])

series2=(pd.to_datetime(series1))
print("Month: \n", series2.dt.month.tolist())
print("Year: \n", series2.dt.year.tolist())
print("Date: \n", series2.dt.day.tolist())
print("Week: \n", series2.dt.day_name().tolist())

Month:
 [1, 10, 3, 5, 4, 4]
Year:
 [2015, 2016, 2018, 2014, 2016, 2019]
Date:
 [1, 2, 7, 6, 12, 6]
Week:
 ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [194]:
series1=pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017' ,'Apr 2018',' May 2019'])
series1=pd.to_datetime(series1.apply(lambda x:"11 "+x))
print(series1)

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [215]:
def vowel(strs):
    v=list('aeiou')
    cnt=0
    for s in strs:
        if s in v:
            cnt+=1
    return cnt>=2
    

series1=pd.Series(['Red','Green','Orange','Pink','Yellow','White'])

#result = series1[series1.str.count('(?i)[aeiou]') >=2]
#print(result)

res=series1.apply(vowel)
print(series1[res])

1     Green
2    Orange
4    Yellow
5     White
dtype: object

31. Write a Pandas program to compute the Euclidean distance between two given series.

In [216]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print(np.linalg.norm(series1-series2))

16.492422502470642

32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

In [251]:
series1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])

temp = np.diff(np.sign(np.diff(series1)))
result = np.where(temp == -2)[0] + 1
print(result)

[1 4 8]

33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

In [236]:
series1 = pd.Series(list('abc def abcdef icd'))

least= series1.value_counts().index[-1]

res=series1.replace(" ", least)
print(res)
print(''.join(res))

0     a
1     b
2     c
3     i
4     d
5     e
6     f
7     i
8     a
9     b
10    c
11    d
12    e
13    f
14    i
15    i
16    c
17    d
dtype: object
abcidefiabcdefiicd

34. Write a Pandas program to compute the autocorrelations of a given numeric series.

In [262]:
series1 = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print(series1)
autocorrelations = [series1.autocorr(i).round(2) for i in range(11)]
print(autocorrelations)

0      8.838470
1      9.838676
2     -0.673632
3     -6.745560
4    -10.128265
5     27.168535
6      7.111608
7     12.592569
8     -8.674251
9     26.668619
10    12.453143
11    -7.803228
12    -1.757936
13     3.123871
14    15.041030
dtype: float64
[1.0, -0.1492597330888518, -0.23439554071075994, -0.37221766279118185, 0.3719736711083535, 0.10281114052758054, -0.6127065401277958, -0.13966748119730285, 0.24768771785377444, 0.6170664553735337, -0.4175738935509718]

35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [237]:
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print(result)

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [258]:
series1 = pd.Series(list('ABCDEFGHIJKLMNOP'))
print(series1)
df=pd.DataFrame({'Columns':series1, 'IDX':series1.index})
print(df)

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
dtype: object
   Columns  IDX
0        A    0
1        B    1
2        C    2
3        D    3
4        E    4
5        F    5
6        G    6
7        H    7
8        I    8
9        J    9
10       K   10
11       L   11
12       M   12
13       N   13
14       O   14
15       P   15

37. Write a Pandas program to stack two given series vertically and horizontally.

In [241]:
series1=pd.Series(range(11))
series2=pd.Series(list('PQRSTUVWXYZ'))
df = pd.concat([series1, series2], axis=1)
print(df)
df = pd.concat([series1, series2], axis=0, ignore_index=True)
print(df)

     0  1
0    0  P
1    1  Q
2    2  R
3    3  S
4    4  T
5    5  U
6    6  V
7    7  W
8    8  X
9    9  Y
10  10  Z
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11     P
12     Q
13     R
14     S
15     T
16     U
17     V
18     W
19     X
20     Y
21     Z
dtype: object

38. Write a Pandas program to check the equality of two given series.

In [243]:
series1=pd.Series([1,2,3,4,5,6,46,4,8,54,21,64,9])
series2=pd.Series([1,2,3,4,53,6,46,43,8,534,21,64,93])

print(series1==series2)

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10     True
11     True
12    False
dtype: bool

39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [249]:
series1=pd.Series([1,2,3,4,5,6,46,4,8,54,21,64,9])

max_idx=series1.idxmax()
min_idx=series1.idxmin()
print(max_idx,"\t",min_idx)

11 	 0

40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

In [250]:
df = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
series1= pd.Series([68, 75, 86, 80, None]) 
print(df.ne(series1, axis = 0))

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True